<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Code-Training</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

	<link type="text/css" rel="stylesheet" href="/experiment.css" />
	
	<!-- Requires jQuery -->
	<script src="/jquery.min.js" type="text/javascript"></script>
</head>
<body>
      <img src="/set_logo.png" alt="SET-Logo" width="400px" style="display:block;margin-left:auto;margin-right:auto;"/><br/><br/>
      
      <p>Erneut vielen Dank für Ihre Bewerbung bei der SET!</p>
      <p>Die Ergebnisse wurden übermittelt. Wir werden sie sichten und in einiger Zeit auf Sie zurückkommen.
      Wenn Sie noch Fragen oder Anmerkungen haben schreiben Sie einfach eine Mail an  
      <a href="mailto:tobias.baum@set.de">tobias.baum@set.de</a> (Tobias Baum).</p>
</body>
</html>