<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Code Review Experiment</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

	<link type="text/css" rel="stylesheet" href="/experiment.css" />
	
	<!-- Requires jQuery -->
	<script src="/jquery.min.js" type="text/javascript"></script>
	
	<!-- Requires CodeMirror -->
	<script type="text/javascript" src="/codemirror.js"></script>
	<link type="text/css" rel="stylesheet" href="/codemirror.css" />
	
	<script type="text/javascript" src="/experiment.js"></script>
	
	<script type="text/javascript">
        $(document).ready(function () {
			let cm = CodeMirror(document.getElementById('editor'), {
			  value: '$item.contentEscaped',
			  mode:  'java',
			  readOnly: true,
			  viewportMargin: Infinity,
			  lineWrapping: true,
			  lineNumbers: true,
			  gutters: ["remarks", "CodeMirror-linenumbers"]
			});
			cm.on("gutterClick", handleGutterClick);
		});
	</script>
</head>
<body>
	<i><p>Der folgende Code enthält einen fachlichen Fehler. Ihre Aufgabe ist, diesen zu finden.</p></i>
	<i><p>Um einen Fehler in einer Zeile anzumerken, klicken Sie auf die betreffende Zeilennummer. Falls Sie eine Anmerkung löschen
	möchten, klicken Sie erneut darauf und entfernen Sie den Text.</p></i><br/><br/>
	
	<div id="editor">
	</div><br/>
	
    <form action="checkTask" method="post">
		<button title="Ergebnis prüfen" type="submit">Aufgabe prüfen ►</button>
		<textarea id="remarks" name="remarks" style="display:none"></textarea>
   	</form>

</body>
</html>
