<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Code-Training</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

	<link type="text/css" rel="stylesheet" href="/experiment.css" />
	
	<!-- Requires jQuery -->
	<script src="/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/experiment.js"></script>
	
	<script type="text/javascript">
        $(document).ready(function () {
        	activateLeaveWarning();
        });
    </script>
</head>
<body>
    <h3>Abschließende Fragen</h3>
    
      <form action="$nextStep" method="post">
            <p>Bitte sortieren Sie die folgenden Tätigkeitsbereiche entsprechend Ihrer Interessen, von 1 (höchstes Interesse) bis 6 (geringstes Interesse)</p>
            <table>
              <tr>
              <td><label for="interestSoftDev">Softwareentwicklung</label></td><td>
                <select id="interestSoftDev" name="interestSoftDev" required="required">
                  <option>?</option>
                  <option>1 (höchstes Interesse)</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6 (geringstes Interesse)</option>
                </select>
              </label>
              </td></tr>
              <tr>
              <td><label for="interestOrga">Projektleitung und Organisation</label></td><td>
                <select id="interestOrga" name="interestOrga" required="required">
                  <option>?</option>
                  <option>1 (höchstes Interesse)</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6 (geringstes Interesse)</option>
                </select>
              </label>
              </td></tr>
              <tr>
              <td><label for="interestReise">Reisetätigkeit</label></td><td>
                <select id="interestReise" name="interestReise" required="required">
                  <option>?</option>
                  <option>1 (höchstes Interesse)</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6 (geringstes Interesse)</option>
                </select>
              </label>
              </td></tr>
              <tr>
              <td><label for="interestSales">Präsentieren und Verkaufen</label></td><td>
                <select id="interestSales" name="interestSales" required="required">
                  <option>?</option>
                  <option>1 (höchstes Interesse)</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6 (geringstes Interesse)</option>
                </select>
              </label>
              </td></tr>
              </td></tr>
              <tr>
              <td><label for="interestCust">technische Zusammenarbeit mit Kunden</label></td><td>
                <select id="interestCust" name="interestCust" required="required">
                  <option>?</option>
                  <option>1 (höchstes Interesse)</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6 (geringstes Interesse)</option>
                </select>
              </label>
              </td></tr>
              <tr>
              <td><label for="interestInfra">Betriebssysteme und Infrastruktur</label></td><td>
                <select id="interestInfra" name="interestInfra" required="required">
                  <option>?</option>
                  <option>1 (höchstes Interesse)</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6 (geringstes Interesse)</option>
                </select>
              </label>
            </table><br/>
            <br/>
            
            <p>Dürfen wir Ihre Daten auch über das Bewerbungsverfahren hinaus speichern, um Sie kontaktieren zu können, falls wir
            Ihnen nicht jetzt, aber später, eine Stelle anbieten möchten?<p>
            <input type="radio" required="required" id="saveForLater_yes" name="saveForLater" value="yes"/><label for="saveForLater_yes">Ja</label><br/>            
            <input type="radio" required="required" id="saveForLater_no" name="saveForLater" value="no"/><label for="saveForLater_no">Nein</label><br/><br/>  
            
   			<p>Haben Sie noch Anmerkungen zu unserem Online-Bewerbungsverfahren? Dann teilen Sie uns diese hier mit...</p>
   			<textarea name="furtherRemarks" cols="100" rows="8"></textarea><br/>
   		
        <button onClick="deactivateLeaveWarning()">Abschließen ►</button>
      </form>
</body>
</html>