<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Code Review Experiment</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

	<link type="text/css" rel="stylesheet" href="experiment.css" />
	
	<!-- Requires jQuery -->
	<script src="jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="experiment.js"></script>
	
	<script type="text/javascript">
        $(document).ready(function () {
        	activateLeaveWarning();
        });
    </script>
</head>
<body>
      <p>Next, we ask you to review yet another different change of the same software system.<br/> Please remember that your first priority is to
      <u>find as many defects as possible</u>, and the second priority is to do so <u>in as little time as possible</u>.</p> 
      
      <form action="codeview.html" method="post">
         <input type="hidden" name="index" value="2" />
         <button onClick="deactivateLeaveWarning()">Continue and start next review ►</button>
      </form>
</body>
</html>