<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Code Review Experiment</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

	<link type="text/css" rel="stylesheet" href="experiment.css" />
	
	<!-- Requires jQuery -->
	<script src="jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="experiment.js"></script>
	
	<script type="text/javascript">
        $(document).ready(function () {
        	activateLeaveWarning();
        });
    </script>
</head>
<body>
      <h3>Next: Review tasks</h3>
      <p>We will show you several commits from a software system and ask you to review them.</p>
      
      <p>It is of utmost importance that you take these reviews seriously.</p> 
      <p>Like in real life, you should <i>find as many defects as possible</i> and you should <i>spend as little time as possible</i> on the review.
      Unlike in real life, we are not interested in maintainability or design issues, but <i>only in correctness defects</i> ("bugs").
      Examples of defects are code that does not work as intended under all circumstances, code that will lead to unintended exceptions, but also
      simple typos in messages. A defect can belong to a single part of the code, but it can also be due to the incorrect interaction of several parts
      of the code.</p>
      <p>Please assume that the code compiles but has not been tested very well, if at all.</p>
      
      <form action="intro2.html" method="post">
         <button onClick="deactivateLeaveWarning()">Continue ►</button>
      </form>
</body>
</html>