<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Code-Training</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

	<link type="text/css" rel="stylesheet" href="/experiment.css" />
	
	<!-- Requires jQuery -->
	<script src="/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/experiment.js"></script>
</head>
<body>

<table>
<tr>
<td>
<p>Eingeloggt als $trainee.name</p>
<p>Trainingsziel: $trainee.trainingGoal Minuten pro Woche</p>
<p>$taskCount Aufgaben bearbeitet</p>
<p>$correctTaskCount davon erfolgreich</p>
<p>Aktuell $correctStreak Aufgaben am Stück erfolgreich</p>
<p>Bestleistung: $longestCorrectStreak Aufgaben am Stück erfolgreich</p>

   <form action="nextTask" method="post">
      <button type="submit">Training starten ►</button>
   </form>
</td>
<td>
<img src="diagrams/trainingDurationPerWeek.svg" /><br/>
<img src="diagrams/correctnessPerWeek.svg" /><br/>
<img src="diagrams/durationPerWeek.svg" /><br/>
<img src="diagrams/tasksPerWeek.svg" />
</td>
</tr>
</table>
</body>
</html>