<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Entwicklertraining</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

	<link type="text/css" rel="stylesheet" href="/experiment.css" />
	
	<!-- Requires jQuery -->
	<script src="/jquery.min.js" type="text/javascript"></script>
	
	<!-- Requires CodeMirror -->
	<script type="text/javascript" src="/codemirror.js"></script>
	<link type="text/css" rel="stylesheet" href="/codemirror.css" />
	
	<script type="text/javascript" src="/experiment.js"></script>
	
	<script type="text/javascript">
        $(document).ready(function () {

			CodeMirror(document.getElementById('editor'), {
			  value: '$item.contentEscaped',
			  mode:  'java',
			  readOnly: true,
			  viewportMargin: Infinity,
			  lineWrapping: true,
			  lineNumbers: true,
			  gutters: ["CodeMirror-linenumbers"]
			});        	
			window.onscroll = function(ev) {scrollHandler()};
        	addToLog('view loaded,user agent=' + navigator.userAgent);
			addToLog('window size ' + $(window).width() + ' x ' + $(window).height());
			addToLog('screen size ' + screen.width + ' x ' + screen.height);
			setupIdleDetection();
			setupMouseAndKeyboardLogging();
			setAndLogCookie($nextStep, $assessment.id);
		});
	</script>
</head>
<body>
	<i><p>Versuche den folgenden Java-Code im Kopf nachzuvollziehen. Welche Ausgabe erzeugt er?</p></i><br/><br/>
	
	<div id="editor">
	</div><br/>
	
    <form action="checkTask" method="post">
		<label for="answer">Ausgabe des Programms:</label> <input name="answer" minlength="1" type="text" required="required" autocomplete="off"></input><br/><br/>	
	
		<button title="Antwort prüfen" type="submit">Antwort prüfen ►</button>
		<textarea id="logContent" name="logContent" style="display:none"></textarea>
   	</form>

</body>
</html>
